@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --title: #750a0a;
    --light-background: #F0F0F0;
}


h1,h2,h3{
    color: var(--title);
    margin-top: 1rem;
}

header div#background-image{
    background-image: url("./assets/torta_morango.jpg"); 
    width: 100vw;
    height: 75vh;
    background-size: 100% contain;
    background-repeat: no-repeat;
    opacity: .4;
}

header h1{
    position: absolute;
    top: 30.5vh;
    width: 100vw;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

main{
    width: 100vw;
    padding: 3rem;
    background-color: #fff;
    text-align: justify;
}

ol li ol{
    padding: 0 0 0 3rem;
}

footer{
    background-color: var(--light-background);
    width: 100vw;
    height: 2rem;
    font-size: .5em;
    text-align: center;
    padding: .5rem;
}

footer span{
    color: var(--title);
}

footer a{
    color: inherit;
    text-decoration: underline;
}

footer a:hover{
    cursor: pointer;
}

footer a img{
    height: 75%;
}

@media(min-width: 768px){
    body{
        background-color: var(--light-background);
    }

    header div#background-image{
        background-size: 100% 120%;
    }

    header h1{
        font-size: 3em;
    }

    main{
        width: 75vw;
        margin-inline: auto;
        padding: 3rem;
        background-color: #fff;
        text-align: justify;
        border-radius: 3rem;
    }

}
